{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if duplicati_container_labels_traefik_enabled %}
traefik.enable=true

{% if duplicati_container_labels_traefik_docker_network %}
traefik.docker.network={{ duplicati_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if duplicati_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ duplicati_identifier }}-slashless-redirect.redirectregex.regex=({{ duplicati_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ duplicati_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [duplicati_identifier + '-slashless-redirect'] %}
{% endif %}

{% if duplicati_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ duplicati_identifier }}-strip-prefix.stripprefix.prefixes={{ duplicati_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [duplicati_identifier + '-strip-prefix'] %}
{% endif %}

{% if duplicati_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in duplicati_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ duplicati_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [duplicati_identifier + '-add-request-headers'] %}
{% endif %}

{% if duplicati_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in duplicati_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ duplicati_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [duplicati_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ duplicati_identifier }}.rule={{ duplicati_container_labels_traefik_rule }}
{% if duplicati_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ duplicati_identifier }}.priority={{ duplicati_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ duplicati_identifier }}.service={{ duplicati_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ duplicati_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ duplicati_identifier }}.entrypoints={{ duplicati_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ duplicati_identifier }}.tls={{ duplicati_container_labels_traefik_tls | to_json }}
{% if duplicati_container_labels_traefik_tls %}
traefik.http.routers.{{ duplicati_identifier }}.tls.certResolver={{ duplicati_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ duplicati_identifier }}.loadbalancer.server.port={{ duplicati_container_http_port }}
{% endif %}

{{ duplicati_container_labels_additional_labels }}
